
<div *ngIf="desk" class="border rounded border-{{ desk.cor }} text-left m-2">
    <div class="card-header bg-{{ desk.cor }} text-white">
        <div class="row">
            <div class="col-xs-12 col-sm-8 text-left align-middle row">
                <a class="btn btn-sm float-left text-center mr-3 text-white" [routerLink]="['/dashboard']">
                    <i class="fa fa-arrow-left m-2" aria-hidden="true"></i>
                </a>
                <h5 class="card-title mt-2"> {{ desk.nome }} </h5>
                <a class="btn btn-sm text-center mr-3 text-white" (click)="toggleEditar()">
                    <i class="fa fa-pencil m-2" aria-hidden="true"></i>
                </a>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="row float-right">
                    
                    <a class="btn ">
                        <i class=" fa fa-list mx-2" aria-hidden="true"></i> {{ desk.tasks.length }}
                        <i class=" fa fa-list-alt mx-2" aria-hidden="true"></i> {{ resolvidas }}
                    </a>
                    
                    <div class="mt-2 text-white" > | </div>
                    
                    <a class="btn mx-3" (click)="deletarDesk()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div #editarDesk *ngIf="modoEditar" class="pb-4">
            <kef-desk-form [desk]="desk" [sucesso]="deskAtualizada">
            </kef-desk-form>
            <br>
        </div>

    </div>
    <div class="card-body p-2" *ngIf="!modoEditar">

        <div *ngIf="desk.tasks.length == 0; else taskList" class="text-muted my-4 mx-2"> Não há tarefas por enquanto... </div>

        <ng-template #taskList>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <tbody>

                        <tr *ngFor="let task of desk.tasks">

                            <td>
                                <div class="text-center col-12 btn" (click)="toggleTask(task.id, task.pendente)">
                                    <p class="my-1 text-center"> 
                                        <i class="fa {{ task.pendente ?  'fa-square-o' : 'fa-check-square-o' }} m-2"
                                            aria-hidden="true"></i> 
                                    </p>
                                </div>
                            </td>

                            <td>
                                <p class="my-3"> {{ task.descricao }} </p>
                            </td>

                            <td> 
                                <p class="float-right my-1 btn" (click)="deletarTask(task.id)"> 
                                    <i class="fa fa-trash m-2" aria-hidden="true"></i>  
                                </p> 
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>

        <div *ngIf="modoAdicionar">
            <kef-new-task [user]="user" [desk]="desk" [sucesso]="taskAdicionada">
            </kef-new-task>
        </div>

        <div>
            <a class="btn btn-{{desk.cor}} btn-outline w-100 btn-sm text-white" (click)="novaTaskRow()">
                <i class="fa {{ modoAdicionar ? 'fa-minus' : 'fa-plus' }} m-2" aria-hidden="true"></i> 
            </a>
        </div>
    </div>
</div>