
<kef-center-card class="text-white">

    <img src="assets/img/logo.png" width="100" height="100" class="img-fluid mx-auto d-block my-2 mb-4">
    <h5> Kefnum </h5>
    <small class="mt-0"> A melhor maneira de organizar as suas tarefas. </small>
    
    <div class="mt-4"> Um projeto </div>
    <img src="assets/img/softy.svg" width="150" height="150" class="img-fluid mx-auto d-block my-2 mb-4">
    
    <div class="mt-4"> <b> Este projeto é completamente gratuito foi desenvolvido com fins educacionais. </b> </div>

    <br>
    <div class="text-left">
        <div> Desenvolvido com as tecnologias: </div>
        <ul>
            <li> Angular (Front-End) </li>
            <li> Bootstrap (CSS) </li>
            <li> Django Rest Framework (Back-End) </li>
            <li> PostgreSQL (DB) </li>
        </ul>
    </div>

</kef-center-card>