<div class="">    
    <div class="input-group form-group" [formGroup]="parentForm">
        <input formControlName="password" type="{{ mostrarSenha ? 'text' : 'password' }}" class="form-control col mr-0"
            id="password" placeholder="Senha" [formControlName]="'password'">

        <div class="input-group-prepend">
            <a class="btn btn-kefnum-dark col-12 text-white rounded-right ml-0" (click)="acaoMostrarSenha()">
                <i class="fa {{ mostrarSenha ? 'fa-eye-slash' : 'fa-eye' }}"> </i>
            </a>
        </div>
    </div>
</div>
