<div class="border rounded border-{{ desk.cor }} text-left m-2">
    <div class="card-header bg-{{ desk.cor }} text-white">
        <div class="row">
            <div class="col-xs-4 col-sm-6 text-left">
                <h6 class="card-title"> {{ desk.nome }} </h6>
            </div>
            <div class="col-xs-8 col-sm-6 text-right">
                <h6 class="card-subtitle mt-1">
                    <i class=" fa fa-list mx-2" aria-hidden="true"></i> {{ tasks.length }}
                    <i class=" fa fa-list-alt mx-2" aria-hidden="true"></i> {{ resolvidas }}
                </h6>
            </div>
        </div>
    </div>
    <div class="card-body p-2">

        <div *ngIf="tasks.length == 0; else taskList" class="text-muted"> Não há tarefas por enquanto... </div>

        <ng-template #taskList>
            <div *ngFor="let task of tasks">

                <kef-dash-task [task]="task">
                </kef-dash-task>
            </div>
        </ng-template>
    </div>
</div>