<nav class="navbar sticky-top navbar-dark bg-kefnum">
  <div class="container">
    <div class="btn navbar-brand" (click)="homeAction()">
      <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Kefnum
    </div>

    <div class="dropleft show">
      <a class="btn text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-bars " aria-hidden="true"></i>
      </a>

      <div class="dropdown-menu bg-kefnum text-white border-kefnum-dark" aria-labelledby="dropdownMenuLink">
        <div class="py-4 px-3">
          <div class="bg-kefnum text-white">
            <hr class="border border-kefnum-dark my-0">

            <kef-dropdown-item [nomeItem]="'Home'" [icon]="'fa-home'" (onClick)="homeAction()">
            </kef-dropdown-item>

            <kef-dropdown-item [nomeItem]="'Dark Mode'"
              [icon]="theme.isDarkMode() ? 'fa-toggle-on' : 'fa-toggle-off'" (onClick)="alterarTema()">
            </kef-dropdown-item>

            <div *ngIf="userService.isLogged(); else optionsNotLogged">
              <kef-dropdown-item [nomeItem]="'Sair'"
                [icon]="'fa-sign-out'" (onClick)="logout()">
              </kef-dropdown-item>

            </div>

            <ng-template #optionsNotLogged>
              <kef-dropdown-item [nomeItem]="'Login'"
                [icon]="'fa-sign-in'" [routerLink]="['/login']">
              </kef-dropdown-item>
              
              <kef-dropdown-item [nomeItem]="'Registrar'"
                [icon]="'fa-user-plus'" [routerLink]="['/login']">
              </kef-dropdown-item>

            </ng-template>
          </div>
        </div>

      </div>
    </div>

  </div>
</nav>