<nav class="navbar sticky-top navbar-dark bg-kefnum">
  <div class="container">
    <div class="navbar-brand" (click)="homeAction()">
      <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Kefnum
    </div>

    <div class="dropleft show">
      <a class="btn text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-sliders " aria-hidden="true"></i>
      </a>

      <div class="dropdown-menu bg-kefnum text-white border-kefnum-dark" aria-labelledby="dropdownMenuLink">
        <div class="px-3">
          <div class="mb-2">
            Opções
          </div>

          <a class="btn border-kefnum-dark border-top-0 border-left-0 border-right-0 rounded-0 w-100" (click)="homeAction()">
            <i class="fa fa-home mr-1" aria-hidden="true"></i>
            <small> Home </small>
          </a>

          <a class="btn border-kefnum-dark border-top-0 border-left-0 border-right-0 rounded-0 w-100" (click)="alterarTema()">
            <i #darkModeIcon class="fa fa-toggle-on ml-1" aria-hidden="true"
            *ngIf="theme.isDarkMode(); else lightModeIcon"></i>
            
            <ng-template #lightModeIcon>
              <i #lightModeIcon class="fa fa-toggle-off mr-1" aria-hidden="true"></i>
            </ng-template>

            <small> Dark Mode </small>
          </a>

          <div *ngIf="userService.isLogged()">

            <a class="btn btn-sm w-100 text-white border-kefnum-dark border-top-0 border-left-0 border-right-0 rounded-0 mt-1" (click)="logout()"> 
              <i class="fa fa-sign-out mr-1" aria-hidden="true"></i>
              Sair 
            </a>
          </div>

          <br>
        </div>
      </div>
    </div>

  </div>
</nav>