
<div class="pos-f-t">
  <div *ngIf="collapse" class="container">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">

        <p> Selecione o Tema da Aplicação</p>
        
        <div class="form-check" (click)="temaEscuro()">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" [checked]="getTemaAtual() == 0">
          <label class="form-check-label" for="exampleRadios1">
            Escuro
          </label>
        </div>
        <div class="form-check" (click)="temaClaro()">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" [checked]="getTemaAtual() == 1">
          <label class="form-check-label" for="exampleRadios2">
            Claro
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-kefnum"> 
    <div class="container">
      <span class="navbar-brand">
        <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Kefnum
      </span>
      
      <button *ngIf="collapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
      </button>
    </div>
  </nav>
</div>