<kef-center-card>
    <h5 class="card-title text-white"> Login </h5>

    <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
        <div class="form-group">
            <input formControlName="userName" name="userName" class="form-control" placeholder="Usuario" autofocus>
        </div>

        <kef-password [parentForm]="loginForm"></kef-password>

        <button [disabled]="loginForm.invalid || loginForm.pending" type="submit" class="btn btn-kefnum-dark text-white"
            login> Entrar </button>

        <hr class="border border-kefnum-dark m-4">
        <a class="btn btn-kefnum-dark btn-sm my-2" [routerLink]="['/newuser']"> Precisa Criar uma conta?
        </a>
        <br>
        <a class="btn btn-kefnum-dark btn-sm" [routerLink]="['']"> Voltar para a Home </a>
    </form>
</kef-center-card>